.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #f0f0f0;
}
.table>tbody>tr>td:last-child {
    border-right: 1px solid #ddd;
}
.table>tbody>tr>td:first-child {
    border-left: 1px solid #ddd;
}
.table>tbody>tr>td {
    border-top: 1px solid #ddd;
}

#newspanel {
    height: 500px;
    margin-top: 10px;
}

.indexpanel {
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar{
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.input {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#statustable{
    height: 690px;
}

.kas{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.shoutrow{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.links{
    color: #00a2d4;
}

link:focus{
    outline: none;
}

#navbg{
    background-color: rgba(0, 0, 0, 0.6);;
    width: 1303px;
    margin: 0 auto;
}

#navicon{
    font-size: 17px;
    margin-left: 60px;
}

.indexicon{
    font-size: 20px;
}

.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}

#indexmain{
    margin: 0px auto;
    padding-top: 10px;
}

.faq-section {
    background-color: #fff;
    padding: 40px 30px 30px;
    margin-bottom: 30px;
}

.faq-page .bordered {
    border: 1px solid #e7ecf1
}

.faq-page .search-bar {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff
}

.faq-page .search-bar .input-group {
    width: 100%
}

.faq-page .search-bar .input-group > input {
    border: none;
    background-color: #f3f6f9;
    color: #a0a9b4;
    height: 55px
}

.faq-content-1 .faq-section {
    background-color: #fff;
    padding: 40px 30px 30px;
    margin-bottom: 30px
}

.faq-content-1 .faq-section > .faq-title {
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px
}

.faq-content-1 .faq-section .panel-group, .faq-content-1 .faq-section > .faq-content .panel-body > p:last-child {
    margin-bottom: 0
}

.faq-content .panel {
    border: none
}

.faq-content .panel-heading {
    background-color: transparent;
    margin-top: 15px
}

.faq-content-1 .faq-section > .faq-content .panel-heading i {
    font-size: 10px;
    color: #dae0e5;
    margin-right: 10px;
    margin-top: 4px;
    float: left
}

.faq-content-1 .faq-section > .faq-content .panel-heading .accordion-toggle {
    font-size: 16px;
    font-weight: 600;
    color: #5c646a;
    padding: 0 0 10px 20px;
    line-height: 22px
}

.faq-content .panel-heading .accordion-toggle:hover {
    text-decoration: none;
    color: #3598DC
}

.faq-content .panel-body {
    border: none!important;
    background-color: #f3f6f9;
    margin-left: 20px
}

.faq-content .panel-body {
    color: #6a757e;
    font-size: 14px;
    line-height: 22px
}

