
body {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url(bg.jpg) no-repeat,url(bg.jpg) repeat center;
    background-position: center top;
    /*background-color: mediumaquamarine;*/
}

#bannerdown{
    margin-top:20px;
}

body.inframe {
    background-image: none;
    background-color: #f4f6f6;
}

table {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    border-collapse: collapse;
    background-color: #f4f6f6;
}

table.head {
    background: transparent;
    height: 140px;
    width: 920px;
}

table.main {
    background-color: #ffffff
}

table.mainouter {
    background-color: #ffffff
}

table.message {
    border-right: #a7a7a7 1px solid;
    border-top: #a7a7a7 1px solid;
    border-left: #a7a7a7 1px solid;
    border-bottom: #a7a7a7 1px solid
}

table.bottom {
    background: none transparent scroll repeat 0% 0%
}

a.info {
    z-index: 24;
    color: #000;
    position: relative;
    background-color: #ccc;
    text-decoration: none
}

a.info:hover {
    z-index: 25;
    background-color: #ff0
}

a.info span {
    display: none
}

a.info:hover span {
    border-right: #0cf 1px solid;
    border-top: #0cf 1px solid;
    display: block;
    left: 2em;
    border-left: #0cf 1px solid;
    width: 15em;
    color: #000;
    border-bottom: #0cf 1px solid;
    position: absolute;
    top: 2em;
    background-color: #cff;
    text-align: center
}

table.bottom {
    background: none transparent scroll repeat 0% 0%
}

h1 {
}

h2 {
    margin-bottom: 6px
}

h2.transparentbg {
    background-color: transparent;
    background-image: none
}

p {
}

p.sub {
    margin-bottom: 4pt
}

/*td {*/
    /*border-right: #c4c3c3 1px solid;*/
    /*border-top: #c4c3c3 1px solid;*/
    /*border-left: #c4c3c3 1px solid;*/
    /*border-bottom: #c4c3c3 1px solid;*/
/*}*/

td.embedded {
    border-right: medium none;
    padding-right: 0px;
    border-top: medium none;
    padding-left: 0px;
    padding-bottom: 0px;
    border-left: medium none;
    padding-top: 0px;
    border-bottom: medium none;
    text-align: left
}

td.no_border {
    border-right: medium none;
    padding-right: 2px;
    border-top: medium none;
    padding-left: 2px;
    padding-bottom: 3px;
    border-left: medium none;
    padding-top: 3px;
    border-bottom: medium none;
    background-color: transparent;
    text-align: left
}

td.no_border_wide {
    border-right: medium none;
    padding-right: 16px;
    border-top: medium none;
    padding-top: 0px;
    border-left: medium none;
    padding-left: 0px;
    border-bottom: medium none;
    padding-bottom: 0px;
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}

td.shoutrow {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    background-color: #f5f4ea
}

td.bottom {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none
}

.b123 {
    height: 9PX;
}

td.bottom12 {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    color: #FFF;
    background-color: #333
}

td.bottom12 a {
    color: #FFF;
}

td.bottom12 a:hover {
    color: #ff8b00;
}

td.heading {
    font-weight: bold
}

td.text {
    padding-right: 00pt;
    padding-left: 00pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
}

td.text1 {
    padding-right: 10pt;
    padding-left: 10pt;
    padding-bottom: 10pt;
    padding-top: 10pt;
    background-image: url(/img/btbg2.png)
}

td.comment {
    padding-right: 10pt;
    padding-left: 10pt;
    padding-bottom: 10pt;
    padding-top: 10pt;
    text-align: left
}

/*td.colhead1 {*/
    /*white-space: nowrap;*/
    /*font-weight: bold;*/
    /*color: #ffffff;*/
    /*height: 18px;*/
    /*background: url(/img/btbg1.png) #ff9b00*/
/*}*/

/*td.colhead1 a {*/
    /*color: #ffffff;*/
/*}*/

/*td.colhead1 a:hover {*/
    /*color: #03358a;*/
/*}*/

/*td.colhead {*/
    /*white-space: nowrap;*/
    /*font-weight: bold;*/
    /*color: #ffffff;*/
    /*height: 18px;*/
    /*background: url(/img/btbg.png) #03358a*/
/*}*/

/*td.colhead a {*/
    /*color: #ffffff;*/
/*}*/

/*td.colhead a:hover {*/
    /*color: #ffa200;*/
/*}*/

/*td.colhead_notice {*/
    /*white-space: nowrap;*/
    /*font-weight: bold;*/
    /*color: #ffffff;*/
    /*height: 18px;*/
    /*background: url(/img/btbg_notice.png) #990099*/
/*}*/

/*td.colhead_notice a {*/
    /*color: #ffffff;*/
/*}*/

/*td.colhead_notice a:hover {*/
    /*color: #ffa200;*/
/*}*/

table.torrents td.colhead_notice {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

td.rowhead_left {
    text-align: left
}

td.rowhead_center {
    text-align: center
}

td.rowhead {
    font-weight: bold;
    vertical-align: top;
    text-align: right
}

td.rowfollow {
}

td.colfollow {
    text-align: center;
}

table.torrents td.colhead {
    text-align: center;
}

table.torrents td.rowfollow {
    text-align: center;
}

td.toolbox {
}

td.title {
}

td.navigation {
    border-right: medium none;
    border-top: medium none;
    font-weight: bold;
    border-left: medium none;
    border-bottom: medium none
}

td.clear {
    border-right: 0px;
    border-top: 0px;
    background: none transparent scroll repeat 0% 0%;
    border-left: 0px;
    border-bottom: 0px
}

form {
    margin-top: 0px;
    margin-bottom: 0px
}

.sublink {
    font-weight: normal;
    font-style: italic
}

font.gray {
    color: #aca899;
    text-decoration: none;
    font-family: "Arial Black", arial-black;
}

.attach img {
    border: 0;
    width: 16px;
    height: 16px;
}

.attach a:link {
    color: #0099CC;
    text-decoration: underline;
}

.attach .size {
    color: gray;
}

a:link {
    color: #000000;
    text-decoration: none
}

a:visited {
    color: #000000;
    text-decoration: none
}

a:hover {
    color: #ff0000
}

a.index {
    font-weight: bold
}

a.biglink {
    font-weight: bold;
}

a.altlink:link {
    font-weight: bold;
    color: #a83838;
    text-decoration: none
}

a.altlink:visited {
    font-weight: bold;
    color: #a83838;
    text-decoration: none
}

a.altlink:hover {
    text-decoration: underline
}

a.altlink_blue:link {
    font-weight: bold;
    color: #004e98;
    text-decoration: none
}

a.altlink_blue:visited {
    font-weight: bold;
    color: #004e98;
    text-decoration: none
}

a.altlink_blue:hover {
    text-decoration: underline
}

a.altlink_green:link {
    font-weight: bold;
    color: #00c500;
    text-decoration: none
}

a.altlink_green:visited {
    font-weight: bold;
    color: #00c500;
    text-decoration: none
}

a.altlink_green:hover {
    text-decoration: underline
}

.important {
    font-weight: bold;
}

.red {
    color: #ee0000
}

.yellow {
    color: #997700
}

.green {
    color: #000000
}

.btn2 {
    border-right: #ccc 1px outset;
    padding-right: 2px;
    border-top: #ccc 1px outset;
    padding-left: 2px;
    font-weight: bold;
    background: url(./btnbg.gif) repeat-x left top;
    padding-bottom: 1px;
    border-left: #ccc 1px outset;
    cursor: pointer;
    color: #666;
    padding-top: 1px;
    border-bottom: #ccc 1px outset
}

.btn {
    border-right: #ccc 1px outset;
    padding-right: 2px;
    border-top: #ccc 1px outset;
    padding-left: 2px;
    font-weight: bold;
    background: url(./btnbg.gif) repeat-x left top;
    padding-bottom: 1px;
    border-left: #ccc 1px outset;
    cursor: pointer;
    color: #666;
    padding-top: 1px;
    border-bottom: #ccc 1px outset
}

.small {
}

.big {
}

/*li {*/
    /*margin-top: 6pt;*/
    /*margin-bottom: 6pt;*/
    /*margin-left: 16pt;*/
/*}*/

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    border: 0;
}

img.border {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid
}

.gobutton {
    background: #476ba2;
    color: #fff
}

.codetop {
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
    background: url(./code.gif) #f1b000 no-repeat right 50%;
    padding-bottom: 3px;
    margin: 0px auto;
    color: #000;
    padding-top: 3px
}

.codemain {
    border-right: #000 1px solid;
    padding-right: 3px;
    border-top: #000 1px solid;
    padding-left: 3px;
    background: #fff;
    padding-bottom: 3px;
    margin: 0px auto;
    border-left: #000 1px solid;
    color: #000;
    padding-top: 3px;
    border-bottom: #000 1px solid
}

.dropmenu {
    background: #F2F9FD none repeat scroll 0 0;
    border: 3px solid #A6C9D7;
    margin-top: 3px;
    opacity: 0.9;
    position: absolute;
    text-align: left;
}

.dropmenu ul {
    list-style-type: none;
    white-space: nowrap;
    padding: 10px;
}

.dropmenu ul li {
    margin-left: 0px;
    margin-right: 0px;
}

ul.menu {
    list-style-image: none;
    list-style-type: none;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 3px;
    padding-bottom: 0px;
    background-color: #e5e5e5
}

ul.menu li {
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}

ul.menu li a {
    border-right: #b2b2b2 1px solid;
    padding-right: 7px;
    border-top: #b2b2b2 1px solid;
    padding-left: 7px;
    background: url(./shade.gif) white repeat-x left top;
    background-color: #cfe0df;
    padding-bottom: 2px;
    border-left: #b2b2b2 1px solid;
    color: #2d2b2b;
    margin-right: 3px;
    padding-top: 6px;
    border-bottom: none;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-family: verdana;
    font-variant: normal;
    text-align: center;
    display: inline-block;
}

ul.menu li a:link {
    color: #2d2b2b;
}

ul.menu li a:visited {
    color: #2d2b2b;
}

ul.menu li a:hover {
    color: #2d2b2b;
    text-decoration: underline;
}

ul.menu li a:active {
    color: #2d2b2b;
}

ul.menu li.selected a {
    background: url(./shadeactive.gif) white repeat-x left top;
    background-color: #cfe0df;
    padding-bottom: 2px;
    border-left: #b2b2b2 1px solid;
    color: #ffffff;
    margin-right: 3px;
    padding-top: 6px;
    border-bottom: none;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-family: verdana;
    font-variant: normal;
    text-align: center;
    display: inline-block;
}

ul.menu li.selected a:hover {
    text-decoration: none;
}

.listitem {
    margin-left: 10px;
    margin-right: 5px
}

.StaffLeader_Name {
    color: #ff1616
}

A.StaffLeader_Name:link {
    color: #ff1616
}

A.StaffLeader_Name:visited {
    color: #ff1616
}

.SysOp_Name {
    color: #e3510c
}

A.SysOp_Name:link {
    color: #e3510c
}

A.SysOp_Name:visited {
    color: #e3510c
}

.Administrator_Name {
    color: #b358f6
}

A.Administrator_Name:link {
    color: #b358f6
}

A.Administrator_Name:visited {
    color: #b358f6
}

.Moderator_Name {
    color: #6495ED
}

A.Moderator_Name:link {
    color: #6495ED
}

A.Moderator_Name:visited {
    color: #6495ED
}

.ForumModerator_Name {
    COLOR: #FF7F50
}

A.ForumModerator_Name:link {
    COLOR: #FF7F50
}

A.ForumModerator_Name:visited {
    COLOR: #FF7F50
}

.Encoder_Name {
    color: #DC143C
}

A.Encoder_Name:link {
    color: #DC143C
}

A.Encoder_Name:visited {
    color: #DC143C
}

.Recorder_Name {
    color: #3CB371
}

A.Recorder_Name:link {
    color: #3CB371
}

A.Recorder_Name:visited {
    color: #3CB371
}

.Uploader_Name {
    color: #ff434c
}

A.Uploader_Name:link {
    color: #ff434c
}

A.Uploader_Name:visited {
    color: #ff434c
}

.Transferer_Name {
    color: #0000CD
}

A.Transferer_Name:link {
    color: #0000CD
}

A.Transferer_Name:visited {
    color: #0000CD
}

.Seeder_Name {
    color: #FF69B4
}

A.Seeder_Name:link {
    color: #FF69B4
}

A.Seeder_Name:visited {
    color: #FF69B4
}

.Helper_Name {
    color: #6B8E23
}

A.Helper_Name:link {
    color: #6B8E23
}

A.Helper_Name:visited {
    color: #6B8E23
}

.Retiree_Name {
    COLOR: #B8860B
}

A.Retiree_Name:link {
    COLOR: #B8860B
}

A.Retiree_Name:visited {
    COLOR: #B8860B
}

.VIP_Name {
    color: #e549f8
}

A.VIP_Name:link {
    color: #e549f8
}

A.VIP_Name:visited {
    color: #e549f8
}

.NexusMaster_Name {
    color: #38ACEC
}

A.NexusMaster_Name:link {
    color: #38ACEC
}

A.NexusMaster_Name:visited {
    color: #38ACEC
}

.UltimateUser_Name {
    color: #5dcb13
}

A.UltimateUser_Name:link {
    color: #5dcb13
}

A.UltimateUser_Name:visited {
    color: #5dcb13
}

.ExtremeUser_Name {
    color: #ff9c00
}

A.ExtremeUser_Name:link {
    color: #ff9c00
}

A.ExtremeUser_Name:visited {
    color: #ff9c00
}

.VeteranUser_Name {
    color: #6954e8
}

A.VeteranUser_Name:link {
    color: #6954e8
}

A.VeteranUser_Name:visited {
    color: #6954e8
}

.InsaneUser_Name {
    color: #d400d4
}

A.InsaneUser_Name:link {
    color: #d400d4
}

A.InsaneUser_Name:visited {
    color: #d400d4
}

.CrazyUser_Name {
    color: #00BFFF
}

A.CrazyUser_Name:link {
    color: #00BFFF
}

A.CrazyUser_Name:visited {
    color: #00BFFF
}

.EliteUser_Name {
    color: #00c9c9
}

A.EliteUser_Name:link {
    color: #00c9c9
}

A.EliteUser_Name:visited {
    color: #00c9c9
}

.PowerUser_Name {
    color: #DAA520
}

A.PowerUser_Name:link {
    color: #DAA520
}

A.PowerUser_Name:visited {
    color: #DAA520
}

.User_Name {
    color: #7e7e7e
}

A.User_Name:link {
    color: #7e7e7e
}

A.User_Name:visited {
    color: #7e7e7e
}

.Peasant_Name {
    color: #86a3c0
}

A.Peasant_Name:link {
    color: #86a3c0
}

A.Peasant_Name:visited {
    color: #86a3c0
}

.color_bonus {
    color: #06d1d8
}

.color_invite {
    color: #06d1d8
}

.color_slots {
    color: #06d1d8
}

.color_downloaded {
    color: #ff9806
}

.color_uploaded {
    color: #86eb03
}

.color_ratio {
    color: #06d1d8
}

.color_active {
    color: #06d1d8
}

.color_connectable {
    color: #06d1d8
}

.logo {
    color: #000000;
    font-family: tahoma,arial,helvetica,sans-serif;
}

.slogan {
    color: #333333;
    font-family: tahoma,arial,helvetica,sans-serif;
}

.free {
    color: #f0cc00
}

.twoup {
    color: #d2b8b8
}

.twoupfree {
    color: #99cc66
}

.halfdown {
    color: #7c7ff6
}

.twouphalfdown {
    color: #7ad6ea
}

.thirtypercent {
    color: #70328d
}

.free_bg {
    background-color: #ffff99
}

.twoup_bg {
    background-color: #ffecec
}

.twoupfree_bg {
    background-color: #ccff99
}

.halfdown_bg {
    background-color: #cccdf8
}

.twouphalfdown_bg {
    background-color: #96dbea
}

.thirtypercentdown_bg {
    background-color: #ddc3ea
}

.hot {
    color: #fb5f01
}

.classic {
    color: #77b300
}

.recommended {
    color: #820084
}

.new {
    color: #ff0000
}

.striking {
    color: #ff0000
}

.stick_outer_bg {
    background-color: #dce8f2;
}

.stick_inner_bg {
    background-color: #dce8f2;
}

.top_outer_bg {
    background-color: #D6D7F9;
}

.top_inner_bg {
    background-color: #D6D7F9;
}

p#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 80px;
}

p#back-to-top a {
    text-align: center;
    text-decoration: none;
    color: #d1d1d1;
    display: block;
    width: 80px;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
}

p#back-to-top a:hover {
    color: #979797;
}

p#back-to-top a span {
    background: url(/img/arrow_up.png) no-repeat center center;
    border-radius: 6px;
    display: block;
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
}

#back-to-top a:hover span {
    background: url(/img/arrow_up_hover.png) no-repeat center center;
}

.backtop {
    cursor: pointer;
}

/*add style*/

nav ul li a{
    font-size: 14px;
    font-family: Hiragino Sans GB,Microsoft YaHei,SimHei,STHeiti;
}

input[type='text']{
    margin-top: 5px;
    margin-left: 4px;
    /*padding: 5px;*/
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/*input[type='file']{*/
    /*color: #fff;*/
    /*background-color: #5bc0de;*/
    /*border-color: #46b8da;*/
/*}*/
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

#browsecat{
    margin: 6px;
}

#info_block{
    /*font-size: small;*/
    padding: 5px;
    margin-bottom: 0;
    background-color: #e0e0e0;
    width: 100%;
    font-size: 17px;
    margin-top: 0px;
}

.medium{
    font-size: 14px;
    line-height: 21px;
}

.medium a{
    color: #3e8ce7;
    margin: 5px;
}

/*a:hover{*/
    /*text-decoration: none;*/
/*}*/

#compose tr td{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /*text-align: center;*/
}
u{
    text-decoration: none;
    color: #00a2d4;
    font-size: 18px;
}

b{
    text-decoration: none;
}

.replay{
    margin-left: 0px;
}
.links{
    color: #00a2d4;
}

.forums_ico{
    font-size: 32px;
    color: #5cb85c;
}

.forumname{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.topicitem{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.nav-settings-item{
    font-size: 15px;
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#usercpnav{
    margin-left: 30%;
    margin-bottom: 25px;
}

.rowfollow{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.colhead{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.small{
    color: tomato;
}


.nowrap{
    font-size: 17px;
}

td .text{
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 27px;
    padding-left: 2%;
}

.embedded-add{
    font-size: 16px;
    font-family: "Microsoft JhengHei";
}

.navmess{
    margin-left: 40%;
}

.nomessage{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: goldenrod;
}

.loginreg {
    font-family:"Microsoft YaHei";
    font-size: 20px;
}

.embedded-head{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;

}

.icos-download{
    font-size: 20px;
    color: #00c9c9;

}

.icon-green{
    font-size: 20px;
    color: #1c8f5f;

}

.icon-red{
    font-size: 20px;
    color: tomato;

}

.icon-yellow{
    font-size: 20px;
    color: burlywood;

}